@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');



.container {
	background-color: #e4dfda;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
    position: relative;
    left: 40%;
	align-items: center;
}

.top {
	position: relative;
	top: 10%;
	left: 58%;
	color: #cccccc;
}

.try{
	
	color: #446b81;
	position: relative;
	right: 43%;
}


.header {
	border-bottom: 1px solid #373883;
	background-color: #e4dfda;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
	color: rgb(40, 32, 54);
	position: relative;
	left: 20%;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
	color: #0a0409;
	font-size: 20px;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #000000;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: rgb(248, 248, 248);
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #1e2079;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #000000;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #0d1321;
	border: 2px solid #ffffff;
	border-radius: 20px;
	color: rgb(238, 238, 238);
	display: block;
	font-family: inherit;
	font-size: 19px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}



.text-login h5 {


	position: absolute;
	color: #cccccc;
	font-size: 20px;
	left: 43%;
	bottom: -4%;

}